@model PagedList.IPagedList<MyBlog.Models.TBL_Users>
@{
    ViewBag.Title = "ShowAllUsers";
    Layout = "~/Views/Shared/_LayoutHeadFoot.cshtml";
}
@using PagedList.Mvc


<div class="container" style="margin-top:50px;">
    <h3 style="text-align:center;font-weight:bold;margin-bottom:50px;">مدیریت کاربران تایید شده</h3>


    <table class="table table-striped" style="margin-top:80px;margin-bottom:100px;">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">نام و نام خانوادگی</th>
                <th scope="col">نام کاربری</th>
                <th scope="col"> وضعیت کاربر</th>
                <th scope="col">تاریخ عضویت</th>
                <th scope="col">حذف</th>
                <th scope="col">تعلیق عضویت</th>
                <th scope="col">جزئیات</th>
            </tr>
        </thead>
        @foreach (var test in Model)
        {
            <tbody>
                <tr>
                    <td style="font-weight:bold;">@test.User_ID</td>
                    <td style="font-weight:bold;">@test.User_FullName</td>
                    <td style="text-align:justify;">@test.User_UName</td>

                    @if (@test.User_Status == 0)
                    {
                        string Stat = "در حال بررسی";
                        <td style="font-weight:bold;">@Stat</td>
                    }
                    else if (@test.User_Status == 1)
                    {
                        string Stat = "عضو شده";
                        <td style="font-weight:bold;">@Stat</td>
                    }

                    <td>@test.User_RegisterationDate</td>
                    <td>@Html.ActionLink("حذف", "DeleteUser", "Admin", new { id = @test.User_ID }, new { @class = "btn alert-danger" })</td>
                    <td>@Html.ActionLink("تعلیق عضویت", "UnPublishUser", "Admin", new { id = @test.User_ID }, new { @class = "btn alert-danger" })</td>

                    <td>@Html.ActionLink("مشاهده کامل", "ShowUserDetail", "Admin", new { id = @test.User_ID }, new { @class = "btn alert-info" })</td>

                </tr>

            </tbody>
        }
    </table><br />
    @Html.PagedListPager(Model, page => Url.Action("ShowSubmitedUser", new { page, pageSize = Model.PageSize }))


</div>